* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

form {
  width: 360px;
}

input {
  font-size: 18px;
  line-height: 1.2;
  padding: 8px 4px;
  border: 0;
  border-bottom: 1px solid hsl(210deg, 24%, 32%);
  outline: 0;
  transition: all 0.15s ease-in-out;
}

input:focus {
  border-bottom: 1px solid hsl(210deg, 78%, 64%);
}

input:disabled {
  background: transparent;
  border: 0;
}

label > input {
  margin: 0 8px;
}

button {
  padding: 8px 64px;
  float: right;
}
